{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="{{site.uri.public}}/companies">
            <i class="fas fa-briefcase"></i><span>  Companies</span>
        </a>

        <a href="{{site.uri.public}}/employees">
            <i class="fas fa-user-friends"></i><span>  Employees</span>
        </a>
    </li>
{% endblock %}