{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="{{site.uri.public}}/companies">
            <i class="fas fa-briefcase"></i><span>  Companies</span>
        </a>
    </li>
{% endblock %}